$sizeColor: #444;
.useraccount{
  height: 100%;
  background-color: #fff;
  .loginContainer {
    padding: 20px 70px;
    .header-wrap {
      position: relative;
      @include wh(auto, 48px);
      vertical-align: middle;
      img {
        @include wh(32px, 32px);
        @include centerY();
      }
      .register_word {
        @include sc(32px, $sizeColor);
      }
    }
    .nav-title {
      margin-top: 106px;
      @include sc(60px, $sizeColor);
    }
    .loginform {
      margin-top: 60px;
      .input_container {
        position: relative;
        margin-bottom: 60px;
        @include placeholder(30px, #999);
        input {
          @include sc(34px, $sizeColor);
          padding: 10px 2px;
          border-bottom-color: #ddd;
          border-bottom-width: 1px; /*no*/
          border-bottom-style: solid;
          width: 100%;
          &:active,
          &:focus {
            @include inputcaret($citySkinColor);
            border-bottom-color: $citySkinColor;
          }
        }
        /* 设置输入框是否显示清除按钮 */
        .clear_icon {
          display: none;
          @include centerY();
          @include wh(35px, 35px);
          right: 4px;
        }
        /* 验证码 */
        .verfyCode {
          @include centerY();
          @include sc(34px, #999);
          right: 4px;
        }
        .activeVerfycode {
          color: $citySkinColor;
        }
        .show_clear_icon {
          &::-ms-clear {
            display: none;
          }
          &:focus:valid + .clear_icon {
            display: inline-block;
          }
        }
      }
    }
    .loginbutton {
      text-align: center;
      vertical-align: middle;
      margin-top: 88px;
      width: 100%;
      background-color: $cityUnableOperateClr;
      height: 88px;
      line-height: 88px;
      @include sc(36px, #fff);
      @include borderRadius(44px);
    }
    .actbtn {
      background-color: #508cee;
    }
    .footer_section {
      font-size: 0px;
      text-align: center;
      margin-top: 56px;
      .footer_word {
        display: inline-block;
        text-align: center;
        @include sc(34px, #999);
      }
      .protocol_word {
        display: inline-block;
        @include sc(34px, #508cee);
      }
    }
  }
}