.mine-page {
   @include setFooterBottom();
  .user-info{
    .user-link {
      @include wh(100%,300px);
      padding: 0px 30px;
      @include flexcontent(center);
      align-items: center;
      flex-flow: row nowrap;
      .user-img {
        display: inline-block;
        margin-right: 30px;
        @include wh(128px, 128px);
        @include borderRadius(50%);
        .user-img-svg {
          border-radius: 50%;
          @include wh(100%, 100%);
        }
      }
      .user-number {
        flex-grow: 1;
        @include sc(36px,#fff);
      }
      .arrow {
        @include wh(36px,51px);
        display: inline-block;
        svg {
          @include wh(100%, 100%);
          opacity: 0.75;
        }
      }
    }
}

.link-item{
  background: #fff;
  display: flex;
  align-items: center;
  @include wh(100%,108px);
  aside{
    position:relative;
    text-align: center;
    @include wh(100px,100%);
    svg{
      @include center();
      @include wh(30px,30px);
    }
  }
  .link-item-content{
    @include wh(100%,100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    span:nth-child(1){
      @include sc(28px,#444);
    }
    span:nth-child(2){
        flex-grow: 1;
        text-align: right;
        @include sc(24px,#999);
    }
    .link-item-svg{
      margin: 0px 32px;
       @include wh(30px,55px);
        @include SvgIconColor(#c2c2c2,#c2c2c2); 
       svg{
         @include wh(100%,100%);
       }
    }
    span.order-money{
      @include sc(28px,#ff801a);
    }
  }
  .border_split{
    border-bottom-color: #eee;
    border-bottom-width: 1px;/* no */
    border-bottom-style: solid;
  }
 
}

.split-area{
  border-top: 18px solid #f2f2f2;
}
}