<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>map</title>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=o7R0tflUIV5jBoN5hRs4T7cj"></script>
  <style type="text/css">
    html {
      height: 100%
    }

    body {
      height: 100%;
      margin: 0px;
      padding: 0px
    }

    #container {
      height: 100%
    }

    .mapicon {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      width: 52px;
      margin-top: -200px;
    }
  </style>
</head>

<body>
  <div id="container"></div>
  <img src="./circle.svg" class="mapicon" alt="">
  <script>
    /**
     * 主要通过地图的地理位置与像素转换实现效果
     */
    var map = new BMap.Map("container");
    var point = new BMap.Point(116.404, 39.915);
    /**
     * Y轴偏移量，即地图可视区域中心点在Y轴的偏移量
     * 当你的地图底部还有一些输入框的时候，可视区域集中在
     * 手机的上部，增加偏移量能够将定位地点上移到可视区的
     * 中间，这个量根据页面情况自行设定
     * @type {number}
     */
    map.centerAndZoom(point, 15);
    map.addEventListener("dragend", function () {
      var center = map.getCenter();
      alert("地图中心点变更为：" + center.lng + ", " + center.lat);
    });
  </script>
</body>

</html>