.home{
  @include setFooterBottom();
  .header{
    background-color: #fff;
    @include wh(100%,400px);
  }
  .tab-menu-area{
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 160px;
    .link_to_tab{
      width: 25%;
      margin-bottom: 4px;
      figure{
        display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
        img{
          margin-bottom: 15px;
          @include wh(60px, 60px);
        }
        figcaption{
          @include sc(24px, #666);
        }
      }
    }
  }
  .feellesspay{
    margin: 10px; /* no */
     ul{
       background-color: #fff;
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 120px;
       padding: 0px 40px;
       li{
         display: flex;
         align-items: center;
       }
       li:nth-child(1){
        svg{
          @include wh(66px,66px);
        }
        span{
          padding-left: 10px;/* no */
          @include sc(28px,#444444);
        }
       }
       li:nth-child(2){
        span{
          padding-right: 10px;/* no */
          @include sc(28px,#ff801a);
        }
         svg{
           @include wh(30px,55px);
         }
         
       }
     }
  }
  .bindcararea{
    margin: 10px; /* no */
    ul{
      height: 180px;
      background-color: #fff;
      display: flex;
      flex-flow: column nowrap;
      align-content: center;
      justify-content: center;
      padding: 0px 40px;
      li{
        margin-top: 10px;
        text-align: center;
        div{
          display: inline-block;
          @include wh(300px,70px);
          background-color: $citySkinColor;
          line-height: 70px;
          @include sc(32px,#fff);
          @include borderRadius(30px);
        }
        span{
          @include sc(22px,#999999);
        }
      }
    }
  }
  .footer_swiper{

  }
  .footer_swiper{
    @include wh(100%,150px);
  }
}