/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}

.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}

/* 模拟提交按钮 满足条件的 */
.ec_btn_model_submit{
  background-color: $citySkinColor;
  height: 100px;
  line-height: 100px;
  @include sc(36px, #fff);
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}

/* 模拟提交按钮 不满足条件的 */
.ec_btn_model_gray_submit{
  @extend .ec_btn_model_submit;
  background-color: #d0d3d4;
}

/* 输入框 有输入值时 删除图标 */
.ec_input_icon_delete_container {
  position: relative;
  @include placeholder(30px, #999);
  input {
    padding: 10px 2px;
    border-bottom-color: #ddd;
    border-bottom-width: 1px; /*no*/
    border-bottom-style: solid;
    width: 100%;
    &:active,
    &:focus {
      @include inputcaret($citySkinColor);
      border-bottom-color: $citySkinColor;
    }
  }
  /* 设置输入框是否显示清除按钮 */
  .clear_icon {
    display: none;
    @include centerY();
    @include wh(35px, 35px);
    right: 4px;
  }
  .show_clear_icon {
    &::-ms-clear {
      display: none;
    }
    &:focus:valid + .clear_icon {
      display: inline-block;
    }
  }
}