
/* 登录注册输入框闪动条 选中下拉线的颜色 */
$loginbgColor:#508cee;

/* 背景图片和大小 */
@mixin bis($url){
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 设置圆角边框 */
@mixin borderRadius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

/* 绝对定位 */
@mixin absoluteSite($top:0px,$left:0px){
  position: absolute;
  top: $top;
  left: $left;
}

/* 定位上下左右居中 */
@mixin center(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 定位上下居中 */
@mixin centerY(){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* 定位左右居中 */
@mixin centerX(){
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 设置宽高 */
@mixin wh($width :100%,$height: 100%){
  width: $width;
  height: $height;
}

/* 字体颜色 大小 */
@mixin sc($size,$color : #222222){
  font-size: $size;
  color: $color;
}

/* flex布局 和 子元素 对齐方式 */
@mixin flexcontent($type : space-between){
  display: flex;
  justify-content: $type;
}

/* 设置input textarea placeholder的样式 */
@mixin placeholder($size:30px,$color:#999){
  ::-webkit-input-placeholder, { /* WebKit, Blink, Edge */
    font-size: $size;
    color:$color;
    
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: $size;
    color:$color;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: $size;
    color:$color;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: $size;
    color:$color;
  }
}
/* 改变输入框 选中后 闪动光标颜色 */
@mixin inputcaret($color:auto){
  caret-color: $color;
  //color: $color; /* 光标颜色 */
  /* @supports (caret-color: $color) {
    caret-color: $color;
  } */
}
