@charset "UTF-8";
/* 欠费记录 begin */
#a_record_wrap {
    border-bottom: 2.45rem solid #fff;
    display: none;
}

.a_record_options {
    background-color: rgb(235, 235, 235);
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    display: none;
}

.a_record_option {
    width: 92%;
    padding: 0.75rem 4% 0 4%;
    background-color: #fff;
    margin-bottom: 0.5rem;
}

.ar_desc {
    width: 100%;
    position: relative;
}

.ar_sec_berth {
    font-size: 0.75rem;
    color: #222;
    display: inline-block;
    line-height: 1.15;
    width: 78%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ar_old_price:before {
    content: '¥';
}

.ar_old_price {
    text-decoration: line-through;
    font-size: 0.6rem;
    color: #8e8e8e;
}

.ar_desc > p {
    display: inline-block;
    width: 82%;
    margin: 0;
    color: #999;
    line-height: 1;
    margin-bottom: 0.25rem;
}

.ar_desc > p:first-of-type {
    width: 100%;
    margin-bottom: 0.55rem;
    position: relative;
}

.ar_desc > p:last-of-type {
    margin-bottom: 0.4rem;
}

.ar_desc > p > span {
    display: inline-block;
    vertical-align: middle;
}

.ar_start_time, .ar_end_time {
    font-size: 0.65rem;
}

.ar_icon_start, .ar_icon_end {
    border: 1px solid #999;
    box-sizing: border-box;
    border-radius: 100%;
    line-height: 1;
    padding: 0.1rem;
    text-align: center;
    font-size: 0.6rem;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.ar_price_block, .ar_old_price {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.ar_price {
    font-size: 1.05rem;
    color: #ff6640;
    display: inline-block;
    vertical-align: middle;
}

.ar_price:before {
    content: '¥';
}

.ar_discount {
    background: url(common/img/pub_bg_discount@2x.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: left top;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.6rem;
    color: #fff;
    width: 1.6rem;
    text-indent: 0.5rem;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    margin-left: 0.1rem;
    margin-right: -0.1rem;
}

.ar_discount:after {
    content: '折';
}

.ar_handle {
    clear: both;
    border-top: 1px solid #e8e8e8;
    padding: 0.5rem 0;
    overflow: hidden;
}

.btn_ar_pay {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 3px;
    background-color: #20c2db;
    color: #fff;
    font-size: 0.7rem;
    border-radius: 2px;
    padding: 0 4%;
    float: right;
}

#noRecordContain {
    display: none;
}

/* 欠费记录 end */
